<!DOCTYPE html>
<html lang="en">
<head>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Bootstrap CSS #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Code Breaker</title>
    {% endif %}
</head>
<body>

    <div class="container" style="background-color: gray;">
        <h1>Code Breaker - Machine Learning API</h1>
        <p class="lead">A <strong>REST API</strong> for Project Code Breaker's Machine Learning Module.</p>
    </div>
<div class="container pb-5">
    <h4>API Calls</h4><br>

    <div class="card">
        <h5 class="card-header alert-success">predict(quiz)</h5>
        <div class="card-body">
            <p class="card-title"><span class="badge badge-success">POST</span>&nbsp; /solve</p>
            <p class="card-text"><span>body</span>
                {
	                "quiz": "397050000000001300006030905000006052060507030950300000705040600008200000000070423"
                }
            </p>
            <p class="card-text">
                {
                    "data":
                        {
                        "solution": "397654281542981376186732945873496152264517839951328764725143698438269517619875423"
                        },
                    "message": "Puzzle solved and solution returned."
                }
            </p>
        </div>
    </div>
    <br>
    <h4>Errors</h4><br>
    <div class="card">
        <h5 class="card-header alert-danger">not found</h5>
        <div class="card-body">
            <p class="card-title"><span class="badge badge-success">POST</span>&nbsp; /solve</p>
            <p class="card-text">
                {
                "message": "Error.",
                "error": {
                "title": "Not Found.",
                "status": 404
                }
                }
            </p>
        </div>
    </div>
</div>


{# jQuery first, then Popper.js, then Bootstrap JS #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>